{{define "settings.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TDEE Tracker Settings</title>
<link rel="stylesheet" href="/style.css">
</head>
<body class="bg-gray-50 min-h-screen">
<header class="bg-blue-100 shadow-md px-6 py-4 mb-6 flex justify-between items-center">
  <div class="text-xl font-bold text-gray-800">TDEE Tracker Settings</div>
  <a href="/" class="text-gray-800 font-medium hover:underline">← Back to Tracker</a>
</header>

<div class="container mx-auto px-4 max-w-lg">
  <div class="bg-white rounded-lg shadow p-6 mb-8">
    <h2 class="text-lg font-semibold mb-6 text-gray-700">Configure Tracker Parameters</h2>
    <form method="post" class="space-y-4">
      
        {{template "inputField" dict "Name" "GoalWeight" "Label" "Goal Weight (kg)" "Value" .GoalWeight "Step" "0.01" "Help" "Set to -1 to disable goal advice"}}
        {{template "inputField" dict "Name" "InitialTDEE" "Label" "Initial TDEE" "Value" .InitialTDEE "Step" "1" "Help" "Set to -1 to use first entry's calories"}}
        <h2 class="text-lg font-semibold mb-2 text-gray-700">Advanced parameters</h2>
        {{template "inputField" dict "Name" "CalPerFatKg" "Label" "Calories per Fat Kg" "Value" .CalPerFatKg "Step" "1" "Help" "Default is 7700 kcal/kg"}}
        
        {{template "inputField" dict "Name" "WeightLR" "Label" "Weight Learning Rate" "Value" .WeightLR "Step" "0.0001" "Help" "Tunes of fast weight trend is updated."}}
        
      <button type="submit" 
        class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-150">
        Save Settings
      </button>
    </form>
  </div>
</div>
{{template "footer" .}}
</body>
</html>
{{end}}

